@import 'bootstrap/dist/css/bootstrap.min.css';

.App {
  text-align: center;
}
.title{
  text-shadow: 2px 2px 5px red;
}
.description{
  
}
.url{
  text-decoration-line: underline;
}
.photo {
  align-content: center;
  height: 180px;
  width: 200px;
}
.bg-dark.text-white {
  flex-direction: row;
}
