@import "bootstrap/dist/css/bootstrap.min.css";

.logo {
  height: 100px;
  width: 100px;
  margin-left: 200px;
}
.logo-2 {
  object-fit: inherit;
  object-position: center;
  height: 200px;
  width: 200px;
}
.logo-2div {
  position: relative;
}
.url {
  text-decoration-line: underline;
}
.photo {
  align-content: center;
  width: 200px;
  height: 180px;
  border: 1px solid rgba(3, 3, 3, 0.514);
  box-shadow: 1px 1px 4px 4px #20000048;
}
.bg-dark.text-white {
  flex-direction: row;
  padding: 16px;
  margin: 30px;
  border-radius: 15px;
  transition: 0.3s;
  box-shadow: 1px 1px 4px 4px #18181848;
}
.bg-dark.text-white:hover {
  transform: scale(1.05);
}
body {
  background-color: grey;
}
.accordion {
  padding: 1px;
}
.accordion-button {
  font-size: inherit;
  border: 1px solid black;
}

h1 {
  color: rgb(130, 176, 77);
  padding-top: 70px;
  padding-left: 70px;
  text-align: center;
  text-shadow: black;
  text-decoration-line: underline;
  margin-bottom: 45px;
}
.homepage {
  color: white;
  text-shadow: black;
  font-size: x-large;
  inline-size: 480px;
  text-align: justify;
  padding-left: 70px;
}
.homepage-2 {
  color: rgb(130, 176, 77);
  text-shadow: black;
  font-size: x-large;
  inline-size: 470px;
  text-align: justify;
  padding-left: 70px;
}
.input-text {
  width: 400px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}
.navbar-text {
  margin-right: 25px;
}

.employee-button {
  margin-left: 15px;
}
